.header {
    width: 100vw;
    height: 100px;
    background-color: black;
}
  
div.header > h1 {
    font-size: 60px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #9DC3E6 , #A9D18E);
    background: linear-gradient(45deg, #9DC3E6, #A9D18E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px 25px;
    padding-top: 5px;
    float: left;
}

div.header > h1:hover {
    cursor: pointer;
}

div.header > p {
    font-size: 20px;
    font-weight: bold;
    color: #A9D18E;
    margin: 32px 50px;
    float: right;
}

div.header > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comingsoon {
    height: calc(100vh - 200px);
    line-height: calc(100vh - 200px);
    text-align: center;
}

div.comingsoon > p {
    font-size: 25px;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
}

div.advertisers > h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

div.advertisers > p {
    text-align: center;
    margin-bottom: 110px;
    margin-left: 15%;
    margin-right: 15%;
}

.darkblock {
    background-color: black;
    width: 75vw;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 40px;
    padding: 12px 20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px -8px;
}

div.darkblock > h3 {
    color: rgb(100, 100, 100);
    font-weight: bold;
}

div.darkblock > h3 > em {
    font-style: normal;
}

div.darkblock > h3 > span {
    background: -webkit-linear-gradient(45deg, #9DC3E6 , #A9D18E);
    background: linear-gradient(45deg, #9DC3E6, #A9D18E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

div.darkblock > div {
    color: white;
    width: 50%;
    float: left;
    padding: 20px 10%;
    padding-bottom: 25px;
}

div.darkblock > div > h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.lightblock {
    background-color: white;
    width: 75vw;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 40px;
    padding: 12px 20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px -8px;
}

div.lightblock > h3 {
    color: rgb(200, 200, 200);
    font-weight: bold;
}

div.lightblock > h3 > em {
    font-style: normal;
}

div.lightblock > h3 > span {
    background: -webkit-linear-gradient(45deg, #9DC3E6 , #A9D18E);
    background: linear-gradient(45deg, #9DC3E6, #A9D18E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

div.lightblock > div {
    color: black;
    width: 50%;
    float: left;
    padding: 20px 10%;
    padding-bottom: 25px;
}

div.lightblock > div > h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .header {
        height: 80px;
    }
    div.header > h1 {
        font-size: 50px;
        margin: 0px 25px;
        padding-top: 5px;
        float: left;
    }
    div.header > p {
        font-size: 18px;
        margin: 23px 50px;
    }
}

@media only screen and (max-width: 620px) {
    div.darkblock > div {
        width: 100%;
        float: left;
        padding: 20px 10%;
        padding-bottom: 0px;
    }
    div.lightblock > div {
        width: 100%;
        float: left;
        padding: 20px 10%;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 520px) {
    .header {
        height: 60px;
    }
    div.header > h1 {
        font-size: 35px;
        margin: 0px 25px;
        padding-top: 5px;
        float: left;
    }
    div.header > p {
        font-size: 18px;
        margin: 15px 25px;
    }
    #signup {
        display: none;
    }
    div.darkblock > h3 > em {
        display: none;
    }
    div.lightblock > h3 > em {
        display: none;
    }
}
