html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(180, 180, 180);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(180, 180, 180);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(180, 180, 180);
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}