.header {
  width: 100vw;
  height: 80vh;
  min-height: 500px;
  background-color: black;
}

div.header > h1 {
  font-size: 60px;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #9DC3E6 , #A9D18E 20%);
  background: linear-gradient(45deg, #9DC3E6, #A9D18E 20%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px 25px;
  padding-top: 5px;
}

div.header > h1:hover {
  cursor: pointer;
}

div.header > h2 {
  text-align: center;
  font-size: 5vw;
  line-height: 1.4;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #9DC3E6, #A9D18E);
  background: linear-gradient(45deg, #9DC3E6, #A9D18E);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 15vh;
  margin-bottom: 40px;
}

div.header > img {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  z-index: 0;
}

div.header > p:first-of-type {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  top: 0;
  line-height: 55px;
  right: 53px;
  margin: 0 0;
  border: none;
  border-radius: 4px;
  z-index: 1;
}

div.header > p:first-of-type:hover {
  cursor: pointer;
  text-decoration: underline;
}

div.header > p:last-of-type {
  text-align: center;
  color:rgb(180, 180, 180);
  font-size: 18px;
  margin-top: 20px;
}

div.header > hr {
  width: 200px;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.passive {
  /* position: -webkit-sticky; */
  position: fixed;
  top: 30vh;
  right: 0;
}

div.passive > img {
  height: 40vh;
  opacity: .6;
}

.tooltip {
  display: none;
  position: absolute;
  top: 12vh;
  left: -300%;
  right: 120%;
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
  border-radius: 8px;
}
.passive:hover  .tooltip {
  display: block;
}

div.tooltip > p {
  color: white;
  margin: 0 0;
}

.signup {
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

div.signup > input {
  position: relative;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid white;
  background: none;
  color: rgb(240, 240, 240);
  width: calc(100% - 170px);
  float: left;
  height: 50px;
  padding-left: 10px;
  z-index: 2;
  opacity: 1;
  transition: .5s all linear;
}

div.signup > input:focus {
  outline: none !important;
}

div.signup > button {
  position: relative;
  color: black;
  background: -webkit-linear-gradient(45deg, #9DC3E6, #A9D18E);
  background: linear-gradient(45deg, #9DC3E6, #A9D18E);
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  margin-left: 20px;
  border: none;
  width: 150px;
  height: 50px;
  z-index: 3;
  float: left;
  opacity: 1;
  transition: .5s all linear;
}

div.signup > p {
  position: relative;
  bottom: 30px;
  left: calc(50% - 40px);
  color: white;
  font-weight: bold;
  z-index: 1;
  font-size: 20px;
  margin: 0 0;
  opacity: 0;
  transition: .5s all linear;
}

.details {
  height: 80vh;
  min-height: 650px;
  width: 1040px;
  margin: 0 auto;
}

div.details > div {
  float: left;
  width: 450px;
  height: 500px;
  margin: 0 0;
  padding: 20px 50px;
  background-color: black;
  border-radius: 32px;
  color: white;
  font-size: 18px;
  margin-top: 15vh;
  box-shadow: black 0px 0px 20px -2px;
}

div.details > div:nth-of-type(1) {
  margin-left: 0%;
  margin-right: 70px;
}

div.details > div:nth-of-type(2) {
  margin-left: 70px;
  margin-right: 0;
}

div.details > div:nth-of-type(1) > h3 {
  text-align: center;
  color: #A9D18E;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 40px;
}

div.details > div:nth-of-type(2) > h3 {
  text-align: center;
  color: #9DC3E6;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 40px;
}

div.details > div > ul {
  margin: 40px 15%;
}

div.details > div:nth-of-type(1) > button {
  margin: 0 22%;
  background-color: #A9D18E;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 56%;
  height: 6vh;
  border-radius: 4px;
  margin-top: 20px;
}

div.details > div:nth-of-type(2) > button {
  margin: 0 22%;
  background-color: #9DC3E6;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 56%;
  height: 6vh;
  border-radius: 4px;
  margin-top: 20px;
}

.howitworks {
  width: 100vw;
  height: 50vh;
  background: rgb(220, 220, 200);
  margin-bottom: 15vh;
}



div.contact > p {
  font-weight: bold;
  font-size: 24px;
  margin-left: 15%;
  margin-bottom: 0;
}

div.contact > div {
  width: 50vw;
  margin: 0 25vw;
  overflow: hidden;
}

div.contact > div > input {
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
  background: none;
  color: black;
  width: calc(100% - 170px);
  float: left;
  height: 50px;
  padding-left: 10px;
}

div.contact > div > input:focus {
  outline: none !important;
}

div.contact > div > button {
  color: black;
  background: -webkit-linear-gradient(45deg, #A9D18E, #9DC3E6);
  background: linear-gradient(45deg, #A9D18E, #9DC3E6);
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  margin-left: 20px;
  border: none;
  width: 150px;
  height: 50px;
  float: left;
}

div.contact > div > textarea {
  border: 2px solid black;
  margin-top: 20px;
  width: 100%;
  border-radius: 4px;
  padding: 10px 10px;
  height: 20vh;
  min-height: 100px;
  font-size: 20px;
  margin-bottom: 15vh;
}

.footer {
  width: 100vw;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: black;
}

div.footer > p {
  color: white;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
}

.waitlist {
  padding: 0 20px;
}

div.waitlist > p {
  text-align: center;
}

div.waitlist > p:first-of-type {
  margin-bottom: 5px;
}

div.waitlist > p:last-of-type {
  font-size: 13px;
}

div.waitlist > div > div {
  width: 90%;
  margin: 0 5%;
  margin-bottom: 20px;
}

div.waitlist > div > input[type="number"] {
  border: none;
  border-bottom: 2px solid black;
  width: 86%;
  margin: 20px 7%;
}

div.waitlist > div > button:first-of-type {
  color: black;
  background: -webkit-linear-gradient(45deg, #A9D18E, #9DC3E6);
  background: linear-gradient(45deg, #A9D18E, #9DC3E6);
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  margin: 20px 30px;
  margin-right: 5px;
  border: none;
  width: 150px;
  height: 50px;
  float: left;
}

div.waitlist > div > button:last-of-type {
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  width: 150px;
  height: 50px;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(45deg, #A9D18E, #9DC3E6);;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  float: right;
  margin: 20px 30px;
  margin-left: 5px;
}

.tag {
  border-radius: 50px;
  padding: 5px 10px;
  margin: 5px 5px;
  float: left;
}

.tag:hover {
  cursor: pointer;
  background-color: #ccc !important;
}

div.tag > p {
  margin-bottom: 3px;
}

/* div.waitlist > div > input[type=radio] {
  margin: 10px 5px 10px 20px;
}

div.waitlist > div > span {
  white-space: nowrap;
  margin: 0 20px;
}

div.waitlist > div > span {
  white-space: nowrap;
  margin: 0 20px;
} */


/* Customize the label (the container) */
.container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2.5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #9DC3E6;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
/* .container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} */

@media only screen and (max-width: 1050px) {

  div.header > h1 {
    font-size: 35px;
  }

  div.header > h2 {
    font-size: 50px;
  }
  
  .details {
    height: 80vh;
    min-height: 550px;
    width: 760px;
    margin: 0 auto;
  }
  
  div.details > div {
    float: left;
    width: 350px;
    height: 400px;
    margin: 0 0;
    padding: 5px 20px;
    background-color: black;
    border-radius: 32px;
    color: white;
    font-size: 18px;
    margin-top: 15vh;
  }
  
  div.details > div:nth-of-type(1) {
    margin-left: 0;
    margin-right: 30px;
  }
  
  div.details > div:nth-of-type(2) {
    margin-left: 30px;
    margin-right: 0;
  }
  
  div.details > div:nth-of-type(1) > h3 {
    text-align: center;
    color: #A9D18E;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  div.details > div:nth-of-type(2) > h3 {
    text-align: center;
    color: #9DC3E6;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  div.details > div > ul {
    margin: 20px 15%;
  }
  
  div.details > div:nth-of-type(1) > button {
    margin: 0 22%;
    background-color: #A9D18E;
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 56%;
    height: 6vh;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  div.details > div:nth-of-type(2) > button {
    margin: 0 22%;
    background-color: #9DC3E6;
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 56%;
    height: 6vh;
    border-radius: 4px;
    margin-top: 10px;
  }

  .signup {
    width: 550px;
    margin: 0 auto;
    overflow: hidden;
  }

}

@media only screen and (max-width: 768px) {
  .details {
    height: 80vh;
    min-height: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
  div.details > div {
    float: left;
    width: 80%;
    height: 400px;
    margin: 0 0;
    padding: 5px 20px;
    background-color: black;
    border-radius: 32px;
    color: white;
    font-size: 18px;
  }
  
  div.details > div:nth-of-type(1) {
    margin-top: 10vh;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  div.details > div:nth-of-type(2) {
    margin-top: 5vh;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  div.details > div:nth-of-type(1) > h3 {
    text-align: center;
    color: #A9D18E;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  div.details > div:nth-of-type(2) > h3 {
    text-align: center;
    color: #9DC3E6;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  div.details > div > ul {
    margin: 20px 15%;
  }
  
  div.details > div:nth-of-type(1) > button {
    margin: 0 22%;
    background-color: #A9D18E;
    color: rgb(60, 60, 60);
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 56%;
    height: 6vh;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  div.details > div:nth-of-type(2) > button {
    margin: 0 22%;
    background-color: #9DC3E6;
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: 56%;
    height: 6vh;
    border-radius: 4px;
    margin-top: 10px;
  }

  .signup {
    width: 90%;
    margin: 0 5%;
    overflow: hidden;
  }

  div.signup > input {
    font-size: 16px;
    width: 100%;
  }

  div.signup > p {
    position: absolute;
    bottom: 40vh;
  }
  
  div.signup > button {
    font-size: 18px;
    border-radius: 4px;
    margin-left: 20px;
    border: none;
    width: 150px;
    height: 50px;
    float: left;
    margin: 10px 0;
  }

  div.header > p:last-of-type {
    display: none
  }

  div.header > p:first-of-type {
    font-size: 16px;
    top: 0px;
    line-height: 40px;
    right: 40px;
  }

  div.header > img {
    height: 50px;
  }

  div.contact > div {
    width: calc(100% - 40px);
    margin: 0 20px;
    overflow: hidden;
  }

  div.contact > p {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  div.waitlist > div > button:last-of-type {
    width: 100px;
    margin-right: 10px;
  }

  div.waitlist > div > button:first-of-type {
    width: 100px;
    margin-left: 10px;
  }

}