.body {
    margin: 20px 40px;
}

div.body > p {
    float: left;
    width: 50%;
    text-align: center;
    /* border-bottom: 3px solid lightgrey; */
    padding-bottom: 10px;
    margin-bottom: 0;
}

div.body > p:hover {
    cursor: pointer;
}

div.body > hr:first-of-type {
    background: lightgrey;
    opacity: 1;
    height: 3px;
    width: 100%;
    border: none;
    margin: 0;
    z-index: 0;
}

div.body > hr:last-of-type {
    background: black;
    opacity: 1;
    height: 3px;
    width: 50%;
    border: none;
    margin: 0;
    margin-top: -3px;
    transition: .3s all ease-in-out;
}

div.body > button {
    color: black;
    background: -webkit-linear-gradient(45deg, #9DC3E6, #A9D18E);
    background: linear-gradient(45deg, #9DC3E6, #A9D18E);
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    width: 150px;
    height: 50px;
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

.signin:first-of-type {
    margin-top: 40px;
}

.signin:last-of-type {
    display: none;
}

div.signin > input {
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    margin: 20px 10%;
}

.password {
    float: right;
    font-size: 14px;
}

div.password > p:hover {
    cursor: pointer;
    text-decoration: underline;
}
